<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Courses </title>
</head>
<body>
  <h1>Add a New Course</h1>
  <form action="/add" method="POST">
    {% csrf_token %}
    <label for="">Name: <label>
    <textarea name="name" rows="10" cols="30"></textarea>
    <label for="">Description: <label>
    <textarea name="description" rows="10" cols="30"></textarea>
    <input type="submit" value="Add">
  </form>
  <h1>Courses<h1>
    <table>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      {% for course in courses%}
      <tr>
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.created_at}}</td>
        <td><a href="/delete/{{course.id}}">remove</a></td>
      </tr>
      {%endfor%}
    </table>
</body>
</html>
